<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>详细说明</title>
  <link href="/css/default.css" rel="stylesheet">
  <script type="text/javascript" src="/js/default.js"></script>
  <script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
</head>
{{template "public/page_header.html".}}
<body>
	{{template "public/adminpage_leftindex.html"}}
	<div class="main">
		<h1>请您在修改，增加，删除文章时遵守一下规范</h1>
		<div class="admin_index"><h4>1.CID和ID分别是角色和游戏的编号，请勿重复，请按照引导填写</h4></div>
		<div class="admin_index"><h4>2.图片路径为/img/game/ID.png(未实装)或/img/chara/CID.png(已实装)</h4></div>
		<div class="admin_index"><h4>3.随意填写文章数据可能会导致数据库错误，可能需要从数据库手动删除</h4></div>
		<div class="admin_index"><h4>4.在编写主题内容时请遵守一下规则</h4><p>(1)内容的总结构分为目录，图片栏和正文</p><p>(2)目录部分应使用"ul"标签, class应设置为content-index.</p><p>(3)图片部分应使用图片展示框架, 使用div标签,class=imge,下设img元素和div标签(div标签的class="imgdescrb").</p></div>
		<div class="admin_index"><h4>5.正文部分标签</h4><p>下拉式内容栏:内容请使用div标签，class="dropdown-content-relative",开关按钮处请使用onclick="DisplayContent(id)"</p><p>具体内容请参看<a href="/chara/1">篝之雾枝</a></p></div>
		<div class="admin_index"><h4>关于额外的图片上传功能</h4>如果您对我的程序足够熟悉(或有胆量尝试)，也可以尝试手动上传图片并且使用，我们开放了一个入口。(我并不确定您会做什么事情，所以慎用。上传的路径是/img/game/，希望您能合理命名您的文件，避免错误出现)<br>
		<form action="/pictures" method="POST" enctype="multipart/form-data">><input type=file name="imgfile"><button>Submit</button></form>
		<br>
		</div>
	</div> 
</body>
{{template "public/page_footer.html".}}
</html>
