<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>文章增加中</title>
  <link href="/css/default.css" rel="stylesheet">
  <script type="text/javascript" src="/js/default.js"></script>
</head>
{{template "public/page_header.html".}}
<body>
	{{template "public/adminpage_leftindex.html"}}
	<div class="main">
    <h1>正在创建角色文章</h1>
		<form style="width:100%;" action="/admin/addchara" method="POST" enctype="multipart/form-data">
    <h2>上传封面图片(无需封面请无视)</h2>
        <input type="file" style="width:200px;" name="imgfile">
		<h2>name</h2>
			<textarea name="rwname" style="width:50%;height: 50px;font-size: 40px;"></textarea>
		<h2>ID(归属游戏的ID)</h2>
			<textarea name="pid"></textarea>
    <h2>CID(请遵守规范)</h2>
			<textarea name="cid" ></textarea><p>(推荐CID: {{.nextCid}})</p>
		<h2>Birthday</h2>
			<textarea name="rwbirth" style="width:200px;"></textarea>
		<h2>tags(请用英文逗号隔开)</h2>
			<textarea name="rwtag" style="width:50%"></textarea><p>(格式",aaa,bbb,")</p>
		<h2>Content(用HTML编写)</h2>
			<textarea name="rwcontent" style="width:90%;height: 600px;font-size:15px;"></textarea>
			<br><br>
			<div style="width: 50%;margin:auto;">
				<button onclick="onConfrm()" type="submit" style="background:#f8f8ff;width: 100px;height: 50px; border-width: 1px;border-color: #b0c4de;font-size: 20px;">提交</button>
			</div>
	</div>
</body>
{{template "public/page_footer.html".}}
</html>
