<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>游戏百科！</title>
  <link href="/css/default.css" rel="stylesheet">
  <script type="text/javascript" src="/js/default.js"></script>
</head>
{{template "public/page_header.html".}}
<body>
	{{template "public/indexpage_leftindex.html"}}
	<div class="main">
	    <div class="imge"><a href="/img/bgpic/faceMask.png"><img src="/img/bgpic/faceMask.png"></a><div class="imgdescrb">减少新冠传染，请戴好口罩</div></div>
		<h1>欢迎来到游戏小站</h1>
		<div class="admin_index"><p>这是一个galgame爱好者们所建立的游戏百科网站</p>
		<p>主要是介绍文字冒险和视觉小说类型游戏以及其角色</p>
		<p>出于个人喜好，着重介绍了日式文字恋爱冒险游戏</p>
		<p>如果您有兴趣，可以先浏览作者推荐的文章</p><br><br><br><br><br></div>
		<p>推荐文章：<a href="/search/tag/美少女万华镜系列/0">美少女万华镜系列</a></p>
	</div>
	{{template "public/page_footer.html".}}
</body>
</html>