<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rewrite Articles</title>
  <link href="/css/default.css" rel="stylesheet">
  <script src="/js/default.js"></script>
</head>
{{template "public/page_header.html".}}
<body>
	{{template "public/adminpage_leftindex.html"}}
	<div class="main">
		{{ range $k, $v := . }}
			<div class="article_list">
				<h3><a href="/article/game/{{$v.Id}}">Title:{{$v.Title}}</a><h3>
				社团：{{$v.Brand}}  日期：{{$v.Date}}  ID:{{$v.Id}}
				<div style="float: right;">
					<a href="/admin/rewrite/game/{{$v.Id}}"><button style="width:200px;height: 40px;">改写文章</button></a>
				</div>
			</div>
		{{ end }}
	</div>
</body>
{{template "public/page_footer.html".}}
</html>