<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.title}}</title>
  <link href="/css/default.css" rel="stylesheet">
  <script src="/js/default.js"></script>
</head>
{{template "public/page_header.html".}}
<body>
	{{template "public/adminpage_leftindex.html"}}
	<div class="main">
    <div class="article_list"><h1>正在修改{{.name}}的角色文章</h1></div>
		<form style="width:100%;" action="/admin/rw/chara" method="POST" name="Rewrite" enctype="multipart/form-data">
      <h2>上传封面图片(无需更改清上传0.txt文件,若不确定请勿修改)</h2>
      <input type=file style="width:200px;" name="imgfile" value="{{.img}}">
			<h2>Name</h2>
			<textarea name="rwname" style="width:50%;height: 50px;font-size: 40px;">{{.name}}</textarea>
			<h2>ID</h2>
			<textarea name="pid">{{.id}}</textarea>
      <h2>CID(请勿修改)</h2>0
			<textarea name="cid" readonly="true">{{.cid}}</textarea>
			<h2>Birthday</h2>
			<textarea name="rwbirth" style="width:200px;">{{.birth}}</textarea>
			<h2>tags</h2>
			<textarea name="rwtag" style="width:50%">{{.tag}}</textarea>
			<h2>Content</h2>
			<textarea name="rwcontent"  style="width:90%;height: 600px;font-size:15px;">{{.content}}</textarea>
			<br><br>
			<div style="width: 50%;margin:auto;">
				<button onclick="onConfrm()" type="submit" style="background:#f8f8ff;width: 100px;height: 50px; border-width: 1px;border-color: #b0c4de;font-size: 20px;">修改</button>
			</div>
		</form>
		<br>
		<form style="width:100%;" action="/admin/rm/chara" method="POST">
      		<textarea hidden name="cid" readonly="true">{{.cid}}</textarea>
      		<div style="width:50%;margin: auto;">
      		<button onclick="onConfrm()" type="submit" style="margin: auto;background:#dc143c;width: 100px;height: 50px; border-width: 1px;border-color: #b0c4de;font-size: 20px;">删除文章</button>
      		</div>
    	</form>
	</div>
</body>
{{template "public/page_footer.html".}}
</html>